<%= render "layouts/header" %>
<main class="container mx-auto my-28">
  <h1 class="text-3xl font-bold text-center">MY SHOP</h1>
  <div id="products" class="grid grid-cols-1 md:grid-cols-3 gap-4 gap-y-12 mt-12" >
    <% @products.each do |product| %>
      <% if user_signed_in? %>
        <%= button_to(cart_items_path(product_id: product), method: :post, data: { turbo_frame: "cart_total" }) do %>
          <%= render "product_card", product: product %>
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path) do %>
          <%= render "product_card", product: product %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</main>
<% if user_signed_in? %>
  <%= turbo_frame_tag "cart_total" do %>
    <%= link_to(cart_items_path, id: "cart", class: "fixed w-full bottom-0 bg-sky-300", data: { turbo_frame: "_top" }) do %>
      <%= render "fixed_cart" %>
    <% end %>
  <% end %>
<% end %>
