<%= turbo_stream.remove params[:id] %>
<%= turbo_stream.update "cart_total" do %>
  <%= link_to(root_path, id: "cart", class: "fixed w-full bottom-0 bg-sky-300", data: { turbo_frame: "_top" }) do %>
    <%= render "pages/fixed_cart" %>
  <% end %>
<% end %>
<% if @cart_items.size.zero? %>
  <%= turbo_stream.update "empty_text" do %>
    <p class="text-center mt-28">Your cart is empty</p>
  <% end %>
<% else %>
  <%= turbo_stream.update "empty_text", '' %>
<% end %>
