<%= render "layouts/header" %>
<main class="container mx-auto my-28">
  <h1 class="text-3xl font-bold text-center">MY CART</h1>
  <div id="cart-details" class="grid grid-cols-1 divide-y-2 divide-sky-300 divide-dotted mt-12">
    <% @product_count_by_id.each do |id, count| %>
      <%- product = @cart_products.find{|p| p.id == id} %>
      <%= turbo_frame_tag id do %>
        <div class="grid grid-cols-12 items-center p-4 pr-1">
          <img src="<%= product.image %>" alt="product" class="w-12 h-12 object-contain" />
          <span class="mx-2 col-span-9"><%= product.title %></span>
          <span class=""><%= count %></span>
          <%= button_to(cart_item_path(id), method: :delete, class: 'delete-item') do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if @cart_items.size == 0 %>
    <p class="text-center mt-28">Your cart is empty</p>
  <% end %>
  <%= turbo_frame_tag "empty_text" %>
</main>
<%= turbo_frame_tag "cart_total" do %>
  <%= link_to(root_path, id: "cart", class: "fixed w-full bottom-0 bg-sky-300", data: { turbo_frame: "_top" }) do %>
    <%= render "pages/fixed_cart" %>
  <% end %>
<% end %>
