<!DOCTYPE html>
<html>
  <head>
    <title>ShopHotwireStripe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <% if devise_controller? %>
      <main data-turbo="false" class="container mx-auto">
        <div class="mx-auto flex flex-col min-h-screen min-w-screen justify-center align-center text-center">
          <%= yield %>
        </div>
      </main>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
